<h2>Create a New Discount</h2>

  <div id= "create_discount">
    <%= form_with url: merchant_bulk_discounts_path(@merchant), local: true do |form| %>
      <%= form.label "Name:" %>
      <%= form.text_field :name %>
      <%= form.label "Discount percentage:" %>
      <%= form.number_field :percentage %>
      <%= form.label "Quantity required:"%>
      <%= form.number_field :quantity_threshold %>
      <%= form.submit "Create Discount" %>
    <% end %>
  </div>
