<p><b>ID: </b><%= @invoice.id %></p>
<p><b>Status: </b><%= @invoice.status %></p>
<p><b>Created: </b><%= @invoice.created_at.strftime("%A, %B %e, %Y")  %></p>
<p><b>Customer: </b><%= @invoice.customer.full_name %></p>

<h2>Items: </h2>
<% @invoice.invoice_items.each do |ii| %>
  <div id="i_item-<%= ii.id %>">
    <p><b>Name: </b><%= ii.item.name %></p>
    <p><b>Price: </b><%= "$#{ii.unit_price_to_dollars}" %></p>
    <p><b>Quantity: </b><%= ii.quantity %></p>
    <p><b>Status: </b><%= ii.status %><br>
    <%= form_with url: merchant_invoice_path(@merchant, @invoice), method: :patch, local: true do |f| %>
    <%= f.hidden_field :invoice_item_id, value: ii.id %>
    <%= f.label :status %><br>
    <%= f.select :status, InvoiceItem.statuses.keys, selected: "#{ii.status}" %>
    <%= f.submit 'Update Item Status'%>
<% end %></p>
  </div>
<% end %>
<br>

<div id="total_invoice_revenue">
  <p><b>Total Invoice Revenue: </b>$<%= "#{@invoice.total_revenue_to_dollars}"%>
</div>
